.aboutContainer {
  background: url(../../public/assets/images/phone_background.png),
    url(../../public/assets/images/about_background.svg);

  background-position: right, center;
  background-size: contain, cover;
  background-repeat: no-repeat;
  position: relative;
  height: auto;
}

.aboutContainer .phoneBackground {
  position: absolute;
  width: 800.81px;
  height: 1139.76px;
  left: 500px;
  top: 210px;
}
