/* @tailwind base;
@tailwind components;
@tailwind utilities;
 */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* Font sizes */

.font-8 {
  font-size: 8px !important;
}

.font-10 {
  font-size: 10px !important;
}

.font-12 {
  font-size: 12px !important;
}

.font-14 {
  font-size: 14px !important;
}

.font-16 {
  font-size: 16px !important;
}

.font-18 {
  font-size: 18px !important;
}

.font-20 {
  font-size: 20px !important;
}

.font-22 {
  font-size: 22px !important;
}

.font-24 {
  font-size: 24px !important;
}

.font-28 {
  font-size: 28px !important;
}

.font-30 {
  font-size: 30px !important;
}

.font-32 {
  font-size: 32px !important;
}

.font-36 {
  font-size: 36px !important;
}

.font-40 {
  font-size: 40px !important;
}

.font-48 {
  font-size: 48px !important;
}

.font-50 {
  font-size: 50px !important;
}

.font-52 {
  font-size: 52px !important;
}

.font-56 {
  font-size: 56px !important;
}

.font-60 {
  font-size: 60px !important;
}

/* font weights */
.font-300 {
  font-weight: 300 !important;
}

.font-400 {
  font-weight: 400 !important;
}

.font-500 {
  font-weight: 500 !important;
}

.font-600 {
  font-weight: 600 !important;
}

.font-700 {
  font-weight: 700 !important;
}

.font-800 {
  font-weight: 800 !important;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right !important;
}

.pointer {
  cursor: pointer;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

a {
  text-decoration: none !important;
}

.imageContainer {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
  display: flex;
  justify-content: center !important;
}

.imageContainer img {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}
