.topUpGameContainer {
  height: 100vh;
  background: #030711;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000 !important;
}

.joinWaitlistContainer {
  background-image: url('../../public/assets/images/join_waitlist_image.svg'),
    url('../../public/assets/images/circle.svg'),
    url('../../public/assets/images/circle_2.svg'),
    linear-gradient(#0b173d, #091434);
  background-repeat: no-repeat;
  background-position: left, top right, 20% 100%;
  background-size: contain, 20%, 25%;

  position: relative;
  height: 400px;
  z-index: 1;
}

.featuredGamesContainer {
  background: #030711;
}

.joinUsContainer {
  background: #030711;
}

.joinUsContainer .joinUsBackground {
  background: url(../../public/assets/images/joinus_background.svg);
  height: fit-content;
  border-radius: 80px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem 0;
}

.howItWorksContainer {
  background: #091434;
}

.featuredGamesBackgroundImage {
  background: url(../../public/assets/images/featured_games_background.svg);
  height: fit-content;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 40px;
}

.joinWaitlistImage {
  position: absolute;
  left: -105.95px;
  top: 0.4px;
}

.joinWaitlistCircle1 {
  position: absolute;
  width: 236px;
  height: 236px;
  right: 212px;
  bottom: 178px;
}

.joinWaitlistCircle2 {
  position: absolute;
  width: 310px;
  height: 310px;
  left: 159px;
  top: calc(50% - 310px / 2 + 143px);
}

.footerBackground {
  background: #091434;
}

.footer2Background {
  background: #030711;
}

.joinWaitlistImageContainer {
  width: 297px;
  height: 100%;
  /* background-color: aqua; */
}
.CaroselImages {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .joinWaitlistContainer {
    height: auto;
  }
}
